<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 1. 修复了之前的 INTERNFT 拼写错误 -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_camera"
        android:label="J.A.R.V.I.S"
        android:roundIcon="@android:drawable/ic_menu_camera"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:replace="android:allowBackup,android:icon,android:roundIcon,android:theme,android:label"
        tools:targetApi="31">

        <!-- 主界面 -->
        <!-- 1. 现在的正大门：WelcomeActivity (带有 intent-filter 启动标志) -->
        <activity
            android:name=".DailyCheckInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity" />

        <activity android:name=".MainActivity" />

        <activity android:name=".ArticleActivity" />
        <activity android:name=".DetailActivity" />

    </application>

</manifest>